.ascend-toggles {
  position: absolute;
  bottom: 40px;
  right: 40px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  transform: translateY(240px) perspective(100cm);
  opacity: 0;
  animation: ascend 1s cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
  animation-delay: 0.5s;
}

.ascend-toggle {
  position: relative;
  width: calc(14.285% - 20px);
  height: 60px;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  opacity: 0.33;
  cursor: pointer;
  pointer-events: all;
  z-index: 10;
  transition: all 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);

  svg {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover svg {
    top: 50%;
    opacity: 1;
  }
}

.active {
  top: 0;
  opacity: 1;
}

.active .ascend-toggle-icon {
  opacity: 1;
  top: 50%;
}

@keyframes ascend {
  100% {
    transform: translateY(0) rotate3d(5, 5, 1, 30deg) perspective(100cm);
    opacity: 1;
  }
}
